*,
*::after,
*::before{
    background-color: #2980b9;
}
.weather{
    display: flex;
    flex-direction: column;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
   align-items: center;
}
.weather input{
    background-color: #fff;
    height: 4rem;
    width:25rem;
    border:none;
    outline: none;
    font-size: 1.5rem;
    padding-left:12px;
    border-radius: 15px;
    color:rgb(82, 67, 67)

}
.weather input[type='submit']{
    width:8rem;
    margin-top:10px;
    height:2.5rem;
  background-color:#e67e22;
  color:#fff;
  text-transform: capitalize;
    cursor:pointer;
}
.weather p{
    font-size:1.5rem;
    color:#fff;

}